@model _1911060177_TranCongMinh_1911060177.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Attending</h2>
<div class="row">
    <ul class="course">
        @foreach (var course in Model.UpcommingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                        @if (course.IsCanceled)
                        {
                            <span class="label label-warning">Canceled</span>
                        }
                        @if (Model.ShowAction && !course.IsCanceled)
                        {
                            //<button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId"></button>
                        }
                    </span>   
                    <div>
                        <span class="category">
                            @course.Category.Name
                        </span>
                    </div>
                </div>
                
            </li>
        }
    </ul>
</div>